/* all app scss styles here */


.flex-container {
	display:flex;
	flex-direction: column;
	align-items:stretch;
	height:100%;
	width:100%;

	.leftcolumn {
		background:#2683AD;
		color:#ccc;
		flex:1;
		display: flex;
		align-content: center;
		justify-content: center;

		.logo {
			color:#fff;
			display:flex;
			flex-direction: row;
			justify-content:center;
			align-items:center;
			align-content:center;

			img {
				flex-grow:1;
				align-self:center;
				max-width:145px;
			}
		}

		.menu {display:none;}

		.menu-title {
			color:#939393;
			border-bottom:1px solid #939393;
			font-size:10px;
			padding-top:20px;
			padding-left:15px;

			&.menu-padding {
				margin-top:0px;
			}
		}

		ul.menu-items {
			padding-top:10px;
			margin-left:0;
			margin-bottom:5px;

			li {
				list-style: none;
				font-size:16px;
				-webkit-transition: all .2s;

				&:hover {
					background:#313131;
				}

				i {
					color:#939393;
					width: 40px;
					text-align: center;
					font-size:16px;
					padding-right:8px;
					padding-left:8px; 
				}

				span.item {
					color:#fff;
					font-size:13px;
				}
			}
		}
	}

	.centercolumn {
		width:100%;
		background:#f4f4f4;
		flex-flow:column wrap;
		justify-content: flex-start;
		align-items:stretch;
		flex:8;

		.babymenu {
			display: flex;
			align-items: stretch;
			flex-flow:row;
			background:#383e42;

			.babyitem {
				flex-grow: 1;
				text-align: center;
				padding: 13px;
				color: #efefef;
			}
		}

		.actionbar {
			background:#fefefe;
			height:66px;
			border-bottom:1px solid #E3E1E1;
			width:100%;
			display:flex;
			font-size:12px;
			align-items:stretch;

			//Foundation Overrides
			input {
				margin-bottom:0;
			}

			& > div {
				margin:auto;
			}

			.searchbar {
				flex-grow: 7;
			}

			.alerts {
				margin:0;
				flex-grow: 5;
				display: flex;
				flex-direction:row-reverse;
				align-items:stretch;


				.card {
					width:50px;
					color:#fff;
					padding-top: 20px;
					text-align: center;

					&.red {
						background:rgb(233, 169, 169);
					}
					&.green {
						background:rgb(211, 234, 211);
					}
					&.blue {
						background:rgb(139, 158, 192);
					}

				}
			}

			.user {
				flex-grow: 1;
				text-align:right;
				padding-right:10px;
				font-size:12px;

				.profilepic {
					span.name {
						display:none;
					}

					img {
						max-width:30px;
						border-radius:50%;
						margin-left:8px;
					}
				}
			}
		}

		.content {
			display: flex;
			justify-content:center;
			align-items:flex-start;
			align-content:flex-start;
			flex-wrap:wrap;

				.login-block {
					border:1px solid #ccc;
					background:#fefefe;
					padding:20px;

					h1 {
						font-size: 1.525rem;
						border-bottom: 1px solid #88B8EA;
					}
				}
		}
	}
}

@media #{$medium-up} {
	.flex-container {
		flex-direction: row;

		.leftcolumn {
			flex:1;
			background:#383e42;
			color:#ccc;
			display: block;

			.logo {
				background:#2683AD;
				color:#fff;
				text-align: center;
				padding:20px;
				text-transform: uppercase;
				-webkit-transition: all .3s;
				height:65px;

				&:hover {
					background:#22495B;
				}
			}

			.menu {
				display:block;
			}
		}

		.centercolumn {
			flex:3;

			.babymenu {
				display:none;
			}

			.actionbar {
				.user {
					.profilepic {
						span.name {
							display:inline-block;
						}
					}
				}

			}
		}
	}
}