doctype html
html(class="no-js", lang="en")
    include header

    body    
        div.flex-container
            div.leftcolumn
                div.logo 
                    img(src="images/zions-bank-white.png")
                div.menu-title Menu
                ul.menu-items
                    li 
                        i.class.fa.fa-male
                        span.item Personal
                    li 
                        i.fa.fa-fax
                        span.item Business
                    li 
                        i.fa.fa-dollar
                        span.item Treasury Management
                    li 
                        i.fa.fa-university
                        span.item About Zions Bank

                div.menu-title.menu-padding Locations
                ul.menu-items
                    li 
                        i.class.fa.fa-location-arrow
                        span.item Closest Branch
                    li 
                        i.fa.fa-map-marker
                        span.item Locate ATM
                    li 
                        i.fa.fa-dollar
                        span.item Treasury Management


                div.menu-title.menu-padding Chat 
                ul.menu-items
                    li 
                        i.class.fa.fa-comments-o
                        span.item Chat Now
                    

                    
            div.centercolumn

            div.rightcolumn

           
        include footer